<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/aboutstyle.css" rel="stylesheet" type="text/css">

  </head>
  <body>
	<div class="container-fluid" id="wrap">
	  <nav class="navbar navbar-default">
	    <div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
	        <a class="navbar-brand" href="index.html">EVote</a></div>
	   
	      <div class="collapse navbar-collapse" id="defaultNavbar1">
<ul class="nav navbar-nav navbar-right">
          <li><a href="about.html">About</a></li>
	          <li><a href="register.html">Register</a></li>
	          <li><a href="login.js">Login</a></li>
	        </ul>
          </div>
	     
        </div>
      </nav>
	  <div class="container">
      	<legend>EVote</legend>
      	<p style="font-family:">This is a website solely designed with the purpose to help the users simplify their process of voting.</p></div>
    </div>
	
	<script src="js/jquery-1.11.3.min.js"></script>

	<script src="js/bootstrap.js"></script>
  </body>
</html>