<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">EVote</a></div>
  </nav>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    {% if failed == true %}
    <div class="alert alert-danger">
      <strong>Danger!</strong> Wrong Details
    </div>
    {% endif %}
    <form action = "http://localhost:8080/login-check" method = "POST">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>
