<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Know your candidate</title>
  </head>
  <body style="background-color:pink">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">EVote</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 style="color:black;">Aam Aadmi Party</h1>
      <img src="{{url_for('static', filename='images/arvind.jpg')}}" class="img-circle" width="120px" height="120px">
      <p style="color:black;">Arvind Kejriwal (born 16 August 1968) is an Indian politician and a former bureaucrat who is the current and 7th Chief Minister
        of Delhi since February 2015. He was also the Chief Minister of Delhi from December 2013 to February 2014,
        stepping down after 49 days of assuming power. Currently, he is the national convener of the Aam Aadmi
        Party, which won the 2015 Delhi Assembly elections with a historic majority, obtaining 67 out of 70 assembly
        seats.</p>
      <br><br>


      <h1 style="color:black;">Congress</h1>
      <img src="{{url_for('static', filename='images/rahul.jpg')}}" class="img-circle" width="120px" height="120px">
      <p style="color:black;">Rahul Gandhi (born 19 June 1970) is an Indian politician who was the President of the Indian National Congress
        from 16 December 2017 to 3 July 2019. He hails from a long line of politicians, known as the Nehru-Gandhi
        family, which has occupied a prominent place in the politics of India ever since the country gained independence
        in 1947. His great-grandfather Jawaharlal Nehru, was the first prime minister of India and also the longest-serving
        Prime Minister of India having served for a total of seventeen years. Gandhi's grandmother, Indira, was the
        first female Prime Minister of India and his father, Rajiv, was the youngest prime minister of India to be
        sworn in to office. The son of Sonia and Rajiv, he is the chairperson of the Indian Youth Congress and the
        National Students Union of India.A member of the Indian Parliament, Gandhi represents the constituency
        of Wayanad, Kerala in the 17th Lok Sabha.</p>
      <br><br>

      <h1 style="color:black;">Bharatiya Janata Party</h1>
      <img src="{{url_for('static', filename='images/modi.jpg')}}" class="img-circle" width="120px" height="120px">
      <p style="color:black;">Narendra Damodardas Modi born 17 September 1950) is an Indian politician serving as the 14th and current Prime Minister of
         India since 2014. He was the Chief Minister of Gujarat from 2001 to 2014 and is the Member of Parliament for Varanasi.
         Modi is a member of the Bharatiya Janata Party (BJP) and of the Rashtriya Swayamsevak Sangh (RSS), a Hindu
         nationalist volunteer organisation. He is the first prime minister outside of the Indian National Congress
         to win two consecutive terms with a full majority and the second to complete five years in office after Atal Bihari
         Vajpayee.Born to a Gujarati family in Vadnagar, Modi helped his father sell tea as a child and has said he later ran his own
         stall. He was introduced to the RSS at the age of eight, beginning a long association with the organisation. Modi left home after
         finishing high-school in part due to an arranged marriage to Jashodaben Chimanlal, which he abandoned and publicly acknowledged only
         many decades later. Modi travelled around India for two years and visited a number of religious centres before returning to Gujarat.
         In 1971 he became a full-time worker for the RSS. During the state of emergency imposed across the country in 1975, Modi was forced to go
         into hiding. The RSS assigned him to the BJP in 1985 and he held several positions within the party hierarchy until 2001, rising to the rank
         of general secretary.</p>
      <br><br>

      <h1 style="color:black;">All India Trinamool Congress</h1>
      <img src="{{url_for('static', filename='images/mimi.jpg')}}" class="img-circle" width="120px" height="120px">
      <p style="color:black;">Mimi Chakraborty is an Indian actress and politician.She is known for her work in Bengali
      cinema and television.She was listed as the most desirable woman in the Calcutta Times list of Most Desirable
      Women 2016.In 2019, she joined politics and contested from Jadavpur Loksabha Constituency in 2019 Indian general election as
      a Trinamool Congress candidate.She is a Member of Parliament in the 17th Lok Sabha from Jadavpur constituency.</p>
      <br><br>

    </div>


  </body>
</html>
