<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">EVote</a></div>
  </nav>
{% if code == 1 %}
<div class="alert alert-danger alert-dismissible fade in">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>warning!</strong> {{alert_message}}
</div>
{% endif %}
<!-- <form action = "http://localhost:8080/add/voter" method = "POST">
   <p>Name <input type = "text" name = "name" /></p>
   <p>Username <input type = "text" name = "username" /></p>
   <p>Password <input type = "password" name = "password" /></p>
   <p>Age <input type = "text" name = "age" /></p>
   <p>Phone <input type = "text" name = "phone" /></p>
   <p>Aadhar Number <input type ="text" name = "aadharNumber" /></p>
   <p>Address <input type ="text" name = "address" /></p>
   <p><input type = "submit" value = "submit" /></p>
</form> -->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    {% if failed == true %}
    <div class="alert alert-danger">
      <strong>Danger!</strong> Wrong Details
    </div>
    {% endif %}
    <form action = "http://localhost:8080/add/voter" method = "POST">
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="Name">
      <input type="text" id="username" class="fadeIn third" name="username" placeholder="Username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="text" id="age" class="fadeIn third" name="age" placeholder="Age">
      <input type="text" id="phone" class="fadeIn third" name="phone" placeholder="Phone">
      <input type="text" id="aadharNumber" class="fadeIn third" name="aadharNumber" placeholder="Aadhar">
      <input type="text" id="address" class="fadeIn third" name="address" placeholder="Address">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>
  </div>
</div>
